<!DOCTYPE html>
<html lang="en">
<head>

<title>You are offline</title>
<meta name="description" content="Tamil Kavithai image Maker - You are offline." />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&display=swap" rel="stylesheet">

 <style>
    body {
      width: 100%;
      height: 100%;
      background-color: #DFE6E9;
      font-family: 'Baloo Thambi 2', cursive;
      font-weight: 700;
    }
    p {
      color: #222222;
      font-size: 38px;
      font-family: 'Baloo Thambi 2', cursive;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      white-space: pre-wrap;
    }
    .container {
      height: 90%;
      width: 100%;
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
    }
    #footer {
      position:absolute;
      bottom:0;
      width:100%;
      height: 60px;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: #222222;
      font-size: 35px;
      font-family: 'Baloo Thambi 2', cursive;
      font-weight: 700;
      line-height: 1.6;
   }
</style>

</head>
<body>

<div class="container">
<p class="card">You are Offline - Network issue or Connection Error.</p>
</div>
<div id="footer">#tamilsms</div>
<br>

</body>
</html>